In [1]:
print("Hello, World!!")

Hello, World!!

# 四則演算

In [7]:
# 足し算
test1 = 1 + 1
print(test1)

# 引き算
test2 = 5 - 1
print(test2)

# 掛け算
test3 = 11 * 13
print(test3)

# 割り算
test4 = 10 / 3
print(test4)

# (おまけ) 割り算の余り
test5 = 10 % 3
print(test5)

2
4
143
3.3333333333333335
1

# 変数とは

In [6]:
# 文字や数字を入れておく箱
a = 10
b = 5
c = 1

In [8]:
# （変数無しで、）1個100円のりんご、200円のキウイ、300円のバナナの、消費税込み値段を求める
price = 100 * 1.1 + 200 * 1.1  + 300 * 1.1
print(price)

660.0

In [ ]:
# 税率が変わった！1.8に変更！！
price = 100 * 1.8 + 200 * 1.8  + 300 * 1.8
print(price)

In [10]:
# 変数を使ったら簡単！！！
tax = 1.1
price = 100 * tax + 200 * tax  + 300 * tax
print(price)

tax = 1.8
price = 100 * tax + 200 * tax  + 300 * tax
print(price)

660.0
1080.0

## 演習2
次の変数をうまく使って、Appleを5個、Orangeを2個、Cherryを4個買った時の金額を求めなさい。<br>ただし、表示されている金額は税抜きです。消費税10%として税込みの金額を求めてください。

In [12]:
apple = 210
orange = 320
cherry = 190

In [13]:
# 回答1
tax = 1.1
price = apple * tax + orange * tax + cherry * tax
print(price)

792.0

In [14]:
# 回答2
tax = 1.1
price = (apple + orange + cherry) * tax
print(price)

792.0000000000001

# 関数

### 工場のマニュアルをイメージ

### 関数の定義
(. . . .はインデント(Tabキーを押すと入力される)<br><br>
def 関数名(引数1, 引数2...):<br>. . . .処理<br>. . . . return 戻り値

<br>

### 関数の使い方
変数 = 関数名(引数1, 引数2...)

In [16]:
# 基本形態
### Pythonは、日本語で関数(&変数)を作れます！（本当は良くないけど）

def 足した答え(x, y):
    res = x + y
    return res

response = 足した答え(10, 20)
print(response)

30

# 演習3

数字を入力したら、10%の税率で消費税込みの値段を返してくれる、"calc_tax"という関数を作成してください。

In [18]:
# 回答
def calc_tax(original_price):
    price = original_price * 1.1
    return price

calc_tax(100)

110.00000000000001

# list形式

In [19]:
number_list = [1, 2, 3, 4, 5, 6]
print(number_list)

[1, 2, 3, 4, 5, 6]

# 繰り返し処理

In [22]:
# お肉の塊を順番にスライスしていくイメージ
## 塊→number_list、 欠片→num

for num in number_list:
    # number_listが空になるまで中の処理を続ける。
    print(num)

1
2
3
4
5
6

# 演習5
"number_list"に1から10の数を入れて、for文を使ってすべて足した数字を求めなさい。

In [23]:
# 回答1
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
all = 0

for num in number_list:
    all = all + num

print(all)

55

In [27]:
# 回答2
number_list = range(1, 11) # 1以上11未満の配列を作成
all = 0

for num in number_list:
    all = all + num

print(all)

55

# if文

In [28]:
# 条件式
## aとbが等しい
a = 5
b = 5
print(a == b)

True

In [29]:
## aがbより大きい
a = 1
b = 5
print(a > b)

False

In [30]:
## aがbより小さい
a = 1
b = 5
print(a < b)

True

In [31]:
## aはb以上
a = 1
b = 5
print(a >= b)

False

In [32]:
## aはbと等しくない
a = 1
b = 5
print(a != b)

True

In [33]:
# 上の条件式を使って、条件分岐を作ります！！！
# if 条件式:
#   Trueの場合の処理
# else:
#   Falseの場合の処理
a = 1
b = 5
if a > b:
    print("aはbよりも大きいです！")
else:
    print("aはbよりも大きくないです...")

aはbよりも大きくないです...

In [38]:
# ifとelseの間に、elifを入れると、条件分岐をもっと増やせる。
a = 1
b = 5
if a > b:
    print("aはbよりも大きいです！")
elif a < b:
    print("bはaよりも大きいです！")
else:
    pass # 何もしない

bはaよりも大きいです！

In [37]:
# 文字もできる！
you = "俺"
if you == "俺":
    print("俺です。")
else:
    print("俺以外です。")

俺です。

# 演習6
下の塩基配列を、for文の繰り返し処理と、ifの条件分岐で、Aの数を数えてください。<br>
atgc = "ATGCGGACTAGTTAC"

In [39]:
atgc = "ATGCGGACTAGTTAC"
count = 0

for nucl in atgc:
    if nucl == "A":
        count = count + 1
    else:
        pass

print(count)

4

In [42]:
# 実は、文に含まれる文字を簡単にカウントできます。
atgc.count("A")

4

# 　演習7
※ちょっと難しいです<br>
1から100までの配列を作成し、奇数だけをprintしてください。

In [44]:
num_list = range(1, 101)
for num in num_list:
    if num % 2 == 1:
        print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [45]:
# 算数の計算ドリルなどを探して、Pythonで解いてみたりすると身につきやすいです！

# Pythonはいろんなところにチュートリアルや参考書があるので、いろいろやってみてください！

# 次のPython講座(日程は未定)では、Pythonで実演しながら,
#「教師あり学習」と「教師なし学習」など、機械学習について解説しようと思っています！

# 番外編

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()